APP_NAME=AI_FORECASTING
APP_ENV=production
APP_DEBUG=false

# Database Configuration (Docker)
DB_HOST=db
DB_PORT=3306
DB_NAME=db_forecast
DB_USER=root
DB_PASSWORD=root

# FastAPI Configuration
FASTAPI_PORT=8025

# Optional: Logging Level
LOG_LEVEL=INFO
